[submodule "eodal"]
	path = eodal
	url = https://github.com/EOA-team/eodal
[submodule "s2toarup"]
	path = s2toarup
	url = https://github.com/EOA-team/s2toarup
[submodule "sentinel2_crop_traits"]
	path = sentinel2_crop_traits
	url = https://github.com/EOA-team/sentinel2_crop_traits
[submodule "sentinel2_crop_trait_timeseries"]
	path = sentinel2_crop_trait_timeseries
	url = https://github.com/EOA-team/sentinel2_crop_trait_timeseries
[submodule "rtm_inv"]
	path = rtm_inv
	url = https://github.com/EOA-team/rtm_inv
[submodule "winter_wheat_phenology"]
	path = winter_wheat_phenology
	url = https://github.com/EOA-team/winter_wheat_phenology.git
[submodule "phenology_ww"]
	path = phenology_ww
	url = https://github.com/EOA-team/winter_wheat_phenology
